<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://GONZALO\SQLEXPRESS;databaseName=AlejandroDeportes</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">12345678</property>
		<property name="connection.pool_size">10</property>
		
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="aledep.model.Producto"/>
        <mapping class="aledep.model.Categoria"/>
        <mapping class="aledep.model.Subcategoria"/>
        <mapping class="aledep.model.Proveedor"/>
        <mapping class="aledep.model.Deposito"/>
        <mapping class="aledep.model.Marca"/>
        <mapping class="aledep.model.Usuario"/>
        <mapping class="aledep.model.Rol"/>
        <mapping class="aledep.model.Venta"/>
        <mapping class="aledep.model.VentaDetalle"/>
        <mapping class="aledep.model.Cliente"/>
        <mapping class="aledep.model.MetodoPago"/>
        <mapping class="aledep.model.Compra"/>
        <mapping class="aledep.model.CompraDetalle"/>
        <mapping class="aledep.model.Permiso"/>
        <mapping class="aledep.model.Empresa"/>


	</session-factory>
</hibernate-configuration>